
output_scansione_completa.txt
output_scansione_IP_utili.txt
__pycache__/modulo.cpython-311.pyc
.idea/misc.xml
.idea/misc.xml
.idea/Turtlevpn.iml
celery_stuff/__pycache__/__init__.cpython-311.pyc
*.pyc
*.xml
*.iml
*.xml
*.iml
*.txt
*.xml
*.xml
